@charset "utf-8";
/* CSS Document */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td ,em{margin:0;padding:0;font-size:20px; }
fieldset, img {border:0;}
li:last-child{  border-bottom:none;}
li { -webkit-box-flex:2; display:block; text-align:left; margin:2;padding:0;}

